# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.project
Embedded/.settings/org.eclipse.cdt.core.prefs
Embedded/.settings/org.eclipse.cdt.ui.prefs
Embedded/bin
Embedded/build
Host/bin
Host/build
Embedded_minimal/bin/main
Embedded_minimal/bin/main.elf
Embedded_minimal/build/CMakeCache.txt
Embedded_minimal/build/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
Embedded_minimal/build/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
Embedded_minimal/build/CMakeFiles/2.8.12.2/CMakeSystem.cmake
Embedded_minimal/build/CMakeFiles/CMakeDirectoryInformation.cmake
Embedded_minimal/build/CMakeFiles/CMakeOutput.log
Embedded_minimal/build/CMakeFiles/Makefile.cmake
Embedded_minimal/build/CMakeFiles/Makefile2
Embedded_minimal/build/CMakeFiles/TargetDirectories.txt
Embedded_minimal/build/CMakeFiles/cmake.check_cache
Embedded_minimal/build/CMakeFiles/main.dir/CXX.includecache
Embedded_minimal/build/CMakeFiles/main.dir/DependInfo.cmake
Embedded_minimal/build/CMakeFiles/main.dir/build.make
Embedded_minimal/build/CMakeFiles/main.dir/cmake_clean.cmake
Embedded_minimal/build/CMakeFiles/main.dir/depend.internal
Embedded_minimal/build/CMakeFiles/main.dir/depend.make
Embedded_minimal/build/CMakeFiles/main.dir/flags.make
Embedded_minimal/build/CMakeFiles/main.dir/link.txt
Embedded_minimal/build/CMakeFiles/main.dir/progress.make
Embedded_minimal/build/CMakeFiles/msp430_core.dir/C.includecache
Embedded_minimal/build/CMakeFiles/msp430_core.dir/CXX.includecache
Embedded_minimal/build/CMakeFiles/msp430_core.dir/DependInfo.cmake
Embedded_minimal/build/CMakeFiles/msp430_core.dir/build.make
Embedded_minimal/build/CMakeFiles/msp430_core.dir/cmake_clean.cmake
Embedded_minimal/build/CMakeFiles/msp430_core.dir/cmake_clean_target.cmake
Embedded_minimal/build/CMakeFiles/msp430_core.dir/depend.internal
Embedded_minimal/build/CMakeFiles/msp430_core.dir/depend.make
Embedded_minimal/build/CMakeFiles/msp430_core.dir/flags.make
Embedded_minimal/build/CMakeFiles/msp430_core.dir/link.txt
Embedded_minimal/build/CMakeFiles/msp430_core.dir/progress.make
Embedded_minimal/build/CMakeFiles/progress.marks
Embedded_minimal/build/Makefile
Embedded_minimal/build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
build/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/2.8.12.2/CMakeSystem.cmake
build/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/fakeTarget.dir/DependInfo.cmake
build/CMakeFiles/fakeTarget.dir/build.make
build/CMakeFiles/fakeTarget.dir/cmake_clean.cmake
build/CMakeFiles/fakeTarget.dir/depend.internal
build/CMakeFiles/fakeTarget.dir/depend.make
build/CMakeFiles/fakeTarget.dir/progress.make
build/CMakeFiles/progress.marks
build/Makefile
build/cmake_install.cmake
hostPy/.pydevproject
Embedded_minimal/CMakeFiles
Embedded_minimal/build
.metadata
